# This file lists packages (not including the basic sphinx package) which need
# to be installed to build the documentation.
#
# It is not the file to list general requirements for the software. (I.e.
# packages which need to be installed to run the software.)

sphinx-rtd-theme
recommonmark
matplotlib

